.field {
    margin-top: 24px;
    
    overflow: hidden;

    display: flex;

    .field__row {
        flex: 0 0 50%;
        padding: 0 50px;
        position: relative;

        &_left {
            justify-content: flex-end;
        }
    
        &_right {
            justify-content: flex-start;
        }
    }
}
